.vert-navbar {
    --box-height: 2.5rem;
    position: relative;
    width: 15rem;
    height: 100vh;
    background-color: var(--grey-100);
    padding: 0.7rem 0rem 0.7rem 0rem;
    border: 0.1rem solid var(--grey-200);
}

.vert-navbar > div {
    z-index: 0;
    display: flex;
    align-items: center;
    height: var(--box-height);
}

.vert-navbar > div::after {
    content: '';
    z-index: 500;
    position: absolute;
    width: 100%;
    height: var(--box-height);
    transition: 0.1s linear; 
}

.vert-navbar > div:hover::after {
    background-color: var(--grey-200);
}

.vert-navbar > div > a {
    z-index: 1000;
    padding-left: 1.5rem;
    text-decoration: none;
    color: #444;
    transition: 0.05s linear;
}

.vert-navbar > div:hover > a {
    color: var(--primary-blue-500);
}