@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body, #root {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#root {
    --primary-blue-700: #0d47a1;
    --primary-blue-500: #1976d2;
    --grey-500: #c6c6c6;
    --grey-400: #d3d3d3;
    --grey-300: #e0e0e0;
    --grey-200: #ededed;
    --grey-100: #f9f9f9;
    font-family: 'Roboto', sans-serif; 
}

hr {
    border-color: var(--grey-100);
    margin: 0rem 1.7rem 0rem 1.7rem;
    filter: opacity(0.5);
}
