@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body, #root {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#root {
    --primary-blue-700: #0d47a1;
    --primary-blue-500: #1976d2;
    --grey-500: #c6c6c6;
    --grey-400: #d3d3d3;
    --grey-300: #e0e0e0;
    --grey-200: #ededed;
    --grey-100: #f9f9f9;
    font-family: 'Roboto', sans-serif; 
}

hr {
    border-color: var(--grey-100);
    margin: 0rem 1.7rem 0rem 1.7rem;
    filter: opacity(0.5);
}





.app__nb-group {
    --navbar-height: 3rem;
    z-index: 300;
    position: sticky;
    top: 0;
}

.app__nb-group__navbar {
    z-index: 1000;
    top: 0;
    width: 100%;
}

.app__nb-group__navbar__panel-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.app__nb-group__navbar__panel-container__left-panel {
    z-index: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: inherit;
    padding: 0rem 1rem 0rem 1rem;
}

.app__nb-group__navbar__panel-container__left-panel > a {
    --logo-height: 80%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: var(--logo-height);
    text-decoration: none;
}

.app__nb-group__navbar__panel-container__left-panel > a > img {
    height: inherit;
}

.app__nb-group__navbar__panel-container__left-panel a > div {
    height: 2rem;
    line-height: 2rem;
    color: white;
    letter-spacing: 0.05rem;
    font-weight: 500;
    user-select: none;
}

.app__nb-group__navbar__panel-container__left-panel__drop-down-menu {
    --widthAndHeightOfIcon: 1.5rem;
    z-index: 1000;
    position: relative;
    width: var(--widthAndHeightOfIcon);
    height: var(--widthAndHeightOfIcon);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__nb-group__navbar__panel-container__left-panel__drop-down-menu::after {
    content: '';
    z-index: -1000;
    position: absolute;
    width: var(--widthAndHeightOfIcon);
    height: var(--widthAndHeightOfIcon);
    background-color: black;
    border-radius: 0.2rem;
    transition: 0.1s;
}

.app__nb-group__navbar__panel-container__left-panel__drop-down-menu:hover::after {
    background-color: grey;
}

.app__nb-group__vert-navbar {
    z-index: 0;
    position: relative;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    animation: vert-navbar-slide-in 0.5s;
}

@keyframes vert-navbar-slide-in {
    from {
        left: -10rem;
    }
    to {
        left: 0rem;
    }
}

.app__nb-group__vert-navbar--hidden {
    z-index: 0;
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
