:root {
    --secondary-color: lightcoral;
}

.jxo-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 0.2rem;
}

.jxo-sidebar::-webkit-scrollbar {
    width: 1rem;               
}

.jxo-sidebar::-webkit-scrollbar-track {
    background: var(--secondary-color);        
}

.jxo-sidebar::-webkit-scrollbar-thumb {
    background-color: lightgrey;    
    border-radius: 1.8rem;       
    border: 0.25rem solid var(--secondary-color);  
}

.jxo-sidebar-section {
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-bottom: 0.1rem solid;
    white-space: nowrap;
}


.jxo-sidebar-section-title {
    padding: 0.2rem 0rem 0.2rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.jxo-sidebar-section-item {
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 1rem;
    overflow-x: hidden;  
    text-overflow: ellipsis;  
}

.jxo-sidebar-section-item:hover {
    background-color: lightgrey;
    filter: brightness(95%);
}
